TZ=Asia/Kolkata
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
DATABASE_URL=
DRIVE_DISK=fs

R2_KEY=
R2_SECRET=
R2_BUCKET=
R2_ENDPOINT=
R2_CDN=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_USERNAME=
APP_URL=

GST_NUMBER=1234567890
PAN_NUMBER=1234567890

GST_NUMBER=1234567890
PAN_NUMBER=1234567890
GATEKEEP=
REDIS_DB=